<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/preloader.css">
    <link rel="stylesheet" href="/public/css/coffe.css">
    <script src="/public/js/preloader.js"></script>
  
    <title>Виды Кофейных напитков</title>
</head>
<body>
    <%- include('blocks/header.ejs') %>
    <%- include('blocks/preloader.ejs') %>
    <div class="all">
        <h1 align="center">Виды кофе</h1>
        <div class="espresso">
            <img class="cofe-img" src="/public/img/espresso.jpg">
            <p>1. Эспре́ссо (от итал. <i>espresso</i>) — метод приготовления кофе путём прохождения горячей воды (около 90 °C) под давлением 9 бар через фильтр с молотым кофе.</p>
            <p>Для приготовления эспрессо необходимо минимум 7 г кофе и 30 мл воды.</p>
            <h3 align="center">История</h3>
            <p>История возникновения напитка уходит корнями в 1901 год, когда <b>Луиджи Беццера</b> (<i>Luiggi Bezzera</i>) изобрел первую эспрессо-машину. Беццера был недоволен тем, что
                рабочие тратят слишком много времени на , а машина стала ключом к решению проблемы. Его кофемашина была основана на комбинированном использовании воды и пара.
                Вода под давлением пропускалась через кофейный порошок, таким образом, кофе готовился очень быстро. Напиток получался очень крепким, насыщенным и ароматным.</p>
            <p>Эспрессо используется в приготовлении почти всех кофейных напитков</P>    
        </div>

        <div class="americano">
            <img class="cofe-img" src="/public/img/americano.webp">
            <p>2. Америка́но (итал. <i>Caffè Americano</i> — кофе по-американски) — способ приготовления кофе, заключающийся в соединении определённого количества горячей воды и эспрессо.</p>
            <p>Американо представляет собой эспрессо, в который добавлена порция воды 100 мл. Может подаваться как с молоком, там и без него.</p>
            <h3 align="center">История</h3>
            <p>Из-за названия напитка многие думают, что этот кофе появился в США, но такое мнение ошибочно. Это название появилось во времена
                Второй мировой войны. Американцев, участвовавших в сражениях на территории Европы и временно находившихся в Италии, не устраивал
                такой концентрированный кофе в маленьких объемах, поэтому итальянские бариста придумали просто решение — готовили стандартную порцию эспрессо
                и разбавляли ее водой. Сами итальянцы не признавали такой кофе и поэтому презрительно называли его «американо».</p>
        </div>

        <div class="cappucion">
            <img class="cofe-img" src="/public/img/cappucino.jpg">
        <p>3. Капучи́но (от итал. <i>cappuccino</i> — <u>капуцин</u>) — кофейный напиток <b>итальянской кухни</b> на основе эспрессо с добавлением в него подогретого вспененного молока.</p>
        <h3 align="center">История</h3>
        <p>Происхождение названия напитка связано с тем, что в Европе XVII века название ордена капуцинов служило, в частности, и для обозначения характерного цвета (красно-коричневого), <br>
             который имели рясы монахов этого ордена; в XVIII веке так же стали называть кофейный напиток из яичных желтков и сливок, который стали готовить в Австрии (нем. Kapuziner).<br>
              Итальянская форма названия напитка (cappuccino) фиксируется лишь с XX века.</p>
        </div>

        <div class="latte">
            <img align="left" class="cofe-img" src="/public/img/latte.webp">
            <p>4. Ла́тте (англизированный и сокращенный вариант от итал. <i>caffè latte</i> — «кофе с молоком»)[1] — кофейный напиток родом из Италии, состоящий из молока (итал. <i>latte</i>)
                 и кофе эспрессо. Варится на основе молока, образуя в чашке или бокале трёхслойную смесь из кофе, молока и пены[2].</p>
            <h3 align="center">История</h3>
            <p>Легенда гласит, что возникновением латте мы обязаны итальянским домохозяйкам. Дело в том, что в Италии культура потребления
                 кофе всегда была очень развита, его любили пить все взрослые, а вот детям кофе не разрешался, так как он слишком крепкий.
                  Но итальянские мамочки придумали вариант напитка и для детей. Для того, чтобы как-то разбавить кофе, они заливали его в горячее молоко.
                   Именно от этого и возникло его название, ведь «латте» (ударение на а) в переводе с итальянского означает «молоко».</p>
        </div>
        <div class="menu">
            <table class="coffe-table">
                <h2 align="center">Меню</h2>
                <tr>
                    <th>Кофе</th>
                    <th>Средняя стоимсоть</th>
                    <th>Объемы</th>
                    <th>Добавки</th>
                </tr>
                <tr>
                    <td>1. Эспрессо</td>
                    <td align="center">10 грн</td>
                    <td>30мл</td>
                    <td align="center" class="not-available">-</td>
                </tr>
                <tr>
                    <td>2. Американо</td>
                    <td align="center">14-18 грн</td>
                    <td>140 мл, 250мл</td>
                    <td align="center" class="not-available">-</td>
                </tr>
                <tr>
                    <td>3. Капучино</td>
                    <td align="center">20 грн</td>
                    <td>250мл, 340мл, 0.5л</td>
                    <td align="center" class="have">На ваше усмотрение</td>
                </tr>
                <tr>
                    <td>4. Латте</td>
                    <td align="center">20 грн</td>
                    <td>250мл, 340мл, 0.5л</td>
                    <td align="center" class="have">На ваше усмотрение</td>
                </tr>
            </table>
        </div>
        <div class="footer">
            <hr>
            <h4 align="center">Copyright © 2020</h4>
        </div>
    </div>
  
</body>
</html>