<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/preloader.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <script src="/public/js/preloader.js"></script>

    <title>Главная Страница Малахова Олександра Олександровича</title>
</head>
<body>
    <%- include('blocks/header.ejs') %>
    <%- include('blocks/preloader.ejs') %>
    <div class="all">
        <div class="profile">
            <img class="ava" src="/public/img/ava.jpg">
            </p>
        </div>
        <div class="info">
            <h2>Малахов Александр Александрович</h2>
            <p>Студент <b><a title="Сайт університету" href="https://snu.edu.ua/">Східно-українського національного університету ім В.Даля</a></b><br>
           Группа: ІПЗ-19д - Інженерія програмного забезпечення <br>
           Дата рождения: 23 мая 2001 год<br>
           Знания HTML: Среднее<br>
           Хобби: Спорт, WorkOut, фотошоп, люблю кофе
        </div>

        <div class="coffe">
            <hr>
            <h2 align='center'>Кофе</h2>
                <img class="coffe-img" src="/public/img/coffe.jpg" alt="Кофе">
                <div class="description"></div>
                <p>Насчитывается более 90 видов растений, относящихся к роду кофе (Coffea). Но в промышленных масштабах используются только два из них :</p>
                <p>1. <b>Арабика</b> — наиболее распространённый вид кофе. Вид кофейного дерева <i>кофе аравийский</i>, из которого получают зёрна
                     этого сорта, произрастает на высоте от 900 до 2000 метров над уровнем моря. Зёрна, как правило, имеют продолговатую
                      форму, гладкую поверхность, слегка изогнутую в форме буквы S линию, в которой обычно после лёгкой обжарки остаются
                       невыгоревшие частицы кофейной ягоды.</P>
                <p>2. <b>Робуста</b> обычно считается менее изысканным сортом кофейного зерна с точки зрения аромата. В то же время она содержит больше
                     кофеина, а также часто используется в эспрессо-смесях, что позволяет добиваться более качественной кофейной пенки
                      и удешевляет смесь. Вид кофейного дерева <i>кофе конголезский</i>, из которого получают эти зёрна, является быстрорастущим
                       и более устойчивым к вредителям, чем <i>кофе аравийский</i>, и произрастает примерно от 0 до 600 м над уровнем моря, прежде всего
                        — в тропических районах Африки, Индии, Шри-Ланки и Индонезии. Зёрна имеют округлую форму, цвет — от светло-коричневого до серовато-зелёного</p>
                <h3 align="center"><u><a href="/cofe">Посмотреть виды кофейных напитков</a></u></h3>
            </div>

            <div class="footer">
                <hr>
                <h4 align="center">Copyright © 2020</h4>
            </div>
        </div>

</body>
</html>