<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/preloader.css">
    <title>Document</title>
</head>
<body>
     <!-- Прелоадер -->
  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>
    $(window).on('load', function () {
      $('.preloader').fadeOut().end().delay(400).fadeOut('slow');
    });
  </script>
</body>
</html>